<nav
  class="navbar navbar-expand-lg navbar-secondary bg-secondary rounded shadow-lg p-2 mb-2 bg-secondary rounded"
>
  <div>
    <img
      src="https://www.svgrepo.com/show/104788/book.svg"
      style="height: 30px;"
    />
    <a class="navbar-brand" style="color: black;" href="/">Book Club</a>
  </div>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/signup">Sign Up</a>
    </li>
  </ul>
</nav>