{{> loggedOutNav}}

<div class="container shadow-lg p-3 mb-5 bg-secondary rounded" style="background-color: #292b2c; height: 600px; margin-top: 10px">

    <div class="row" style="margin: 10px;">
        <div class="col-sm " style=" text-align:center;">
            <h2 style="color: white; margin: 10px">Features</h2>
            <ul class="list-group list-group-flush shadow-lg" style="margin: 10px;">            
                <li class="list-group-item list-group-item-secondary" style="text-align: left; border-radius: 10px">Current and future features: 
                    <ul>
                    <li>Create your user account where you can upload a profile picture!</li>
                    <li>Keep a list of books you're currently reading.</li>
                    <li>Keep a list of books you've completed.</li>
                    <li>Search for your fav subject and get a list of books.</li>
                    <li>Everytime you load your userpage, a new poem is generated for you to enjoy!</li>
                    </ul> 
                </li>
            </ul>
        </div>
    </div>

    <div class="row" style="margin: 10px;">
        <div class="col-sm" style=" text-align:center;">
            <h2 style="color: white;">For developers</h2>
            <ul class="list-group list-group-flush shadow-lg;" style="margin: 10px;">            
                <li class="list-group-item list-group-item-secondary" style="text-align: left; border-radius: 10px;">Here is a list of the APIs I used in this project so far: 
                    <ul>
                        <li>To generate random poems: <a href="https://poetrydb.org/index.html"> PoetryDB.org</a>.
                            <ul>
                                <li>Example: <a href="https://poetrydb.org/random">https://poetrydb.org/random</a></li>
                            </ul>
                        </li>
                    </li>
                    <li>To get list of books following a subject search: <a href="http://openlibrary.org">OpenLibrary.org</a>.
                        <ul>
                            <li>Example: <a href="http://openlibrary.org/subjects/romance.json">http://openlibrary.org/subjects/romance.json</a></li>
                        </ul></li>
                    </ul> 
                    
                    <p style="margin-top: 10px;">This project was made using Node.js, MongoDB and Express-Handlebars.</p>
                    <p>The public repo can be viewed <a href="https://github.com/Osbaldo-Arellano/Book-App">here</a>. Tinkerers are encouraged to modify this project!</p>
                </li>
            </ul>
        </div>
    </div>
</div>