{{> loggedOutNav }}
    {{#if error}}
      <div class="alert alert-danger" role="alert" style="text-align: center;">
        Username or password was incorrect. Need to make an account? <a href="/signup">Sign up here</a>
      </div>
    {{/if}}
<div class="container shadow-lg p-3 mb-5 bg-secondary rounded" style="text-align: center; background-color: #292b2c; width: 400px; height: 350px; margin-top:15px; border-radius:10px">
<form action="/login" method="post" style="display: inline-block;">
  <div>

    <h1 style="color: white;">Login</h1>
  </div>
  <div class="form-group" style="text-align: center;">
    <label style="text-align: center; color: white">Username: </label>
    <input
    class="form-control"
      type="text"
      name="username"
      id="username"
      placeholder="Enter your username"
      required
    />
  </div>
  <div class="form-group" style="text-align: center;">
    <label style="color: white;">Password:</label>
    <input
    class="form-control"
      type="password"
      name="password"


      id="password"
      placeholder="Enter your password"
      required
    />
  </div>
  <div>
    <input class="form-control" type="submit" value="Login" />
  </div>
</form>
</div>

  
</form>